<div>{{menu-bar}}</div>

<div class="product-container">
    {{#each data}}

   <div class="product-item">
        
        <img src="/img/{{this.imgPath}}">
        Title : {{this.title}}
        Description : {{this.description}}
        Price : {{this.price}}
        
    </div>
    {{/each}}

</div>

